/* Stilovi za map kontejner */
.map-container {
    width: 100%;
    height: calc(100vh - 50px); /* Visina ekrana - visina zaglavlja (npr. 50px) */
    position: relative;
    overflow: hidden;
}

/* Stil za mapu */
#map {
    width: 100%;
    height: 100%;
}

.flipped-marker {
    transform: rotate(180deg); /* Rotiraj markere za 180 stepeni */
}
.area-table-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
    border: 3px solid #ccc;
    padding: 10px;
    z-index: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;

}
